.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.board-score {
  font-size: larger;
  font-weight: 500;
}

.board {
  display: grid;
  gap: 2.188rem;
}

.cell {
  width: 4.376rem;
  height: 4.376rem;
  background-color: rgb(230, 228, 228);
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  position: relative;
}

.hammer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
